<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="text/html" http-equiv="content-type">
    <title>Go Web Programming</title>
  </head>
  <body>
    <div class="">This is template01.gohtml before</div>
    <div class="">This is the value of the dot in  template01.gohtml - [{{ .}}]</div>
    <hr />
    {{ template "template02.gohtml"}}
    <hr />
    <div class="">This is  template01.gohtml after

    </div>
  </body>
</html>
