<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html" />
  <title>Go Web Programmingtle</title>
</head>
<body>
  {{ . }}
</body>
</html>
