<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="text/html" http-equiv="content-type">
    <title>Go Web Programming</title>
  </head>
  <body>
    {{ 12.3456 | printf "%.2f" }}
  </body>
</html>
